<%- include ('./partials/header') %>
<div class="row">
	

<div class="col-sm-6">

		<h3 style="color:red">
			THANKS FOR PLACING ORDER.VISIT AGAIN
	    </h3>
	
	<p style="color:red">
		YOUR ORDER WILL BE DELIVERED  WITHIN 20 MINUTES..
		
	</p>
</div>
<div class="col-sm-6">
	
	<img src="http://1.bp.blogspot.com/_nDIaXzJuC_U/TIZCz9mpT8I/AAAAAAAAACk/gpqwDK6gWOc/s1600/Thanks_mcHT_Smiley-vi.gif">
	
</div>
</div>
<%- include ('./partials/footer') %>

